# GCP
GCS_BUCKET=your-gcs-bucket-name
GCP_SA_KEYFILE=/opt/airflow/config/your-keyfile.json

# Weather APIs
OPENWEATHER_API_KEY=your_openweather_key
TOMORROWIO_API_KEY=your_tomorrowio_key
# Open-Meteo: no key required

# SQL Server (HighlandsDB)
MSSQL_HOST=host.docker.internal
MSSQL_PORT=1433
MSSQL_USER=sa
MSSQL_PASSWORD=your_password
MSSQL_DB=HighlandsDB

# Airflow
AIRFLOW_UID=50000
